.git
.gitignore
.env
.env.*
!.env.example
node_modules
npm-debug.log
.DS_Store
Thumbs.db
*.log
/public/build
/public/hot
/storage/*.key
/storage/pail
/storage/app/public
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/logs
/bootstrap/cache
/vendor
tests
phpunit.xml
.phpunit.result.cache
README.md
docker/*.md
fix_*.php
create_db.php
